<div class="row">
  <div class="col-md-4">
    <h3>Day 1 - Wed, September 13 </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Set-up & <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning  Break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>01:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>01:45</td>  <td>Afternoon  Break</td> </tr>
      <tr> <td>02:00 </td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>03:00</td>  <td>END</td> </tr>
   </table>
  </div>
    <div class="col-md-4">
      <h3>Day 2 - Thu, September 14 </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Set-up</td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git (Continued) </a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>01:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Short Introduction to Programming in Python</a></td> </tr>
      <tr> <td>02:00</td>  <td>Afternoon Break </td> </tr>
      <tr> <td>02:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment & Data Types </a></td> </tr>
      <tr> <td>03:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3 - Fri, September 15 </h3>
    <table class="table table-striped"> 
      <tr> <td>09:00</td>  <td>Set-up</td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help & Libraries & Pandas </a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html"> Plotting & Lists </a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>01:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html"> For Loops & Conditionals </a></td> </tr>
      <tr> <td>02:00</td>  <td>Afternoon Break </td> </tr>
      <tr> <td>02:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets & Writing Functions </a></td> </tr>
      <tr> <td>02:50</td>  <td> <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a> </td> </tr>
      <tr> <td>03:00</td>  <td>END</td> </tr>
  </table>
  </div>
</div>
