<div class="row">
  <div class="col-md-4">
    <h3>Day 1 - Wed, May 18 </h3>
    <table class="table table-striped">
      <tr> <td>08:15</td>  <td>Set-up & <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>09:30</td>  <td>Break</td> </tr>
      <tr> <td>09:45</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>12:30</td>   <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td> Wrap-up </td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
            <tr> <td>      </td>  <td>   </td> </tr>
   </table>
  </div>
    <div class="col-md-4">
      <h3>Day 2 - Thu, May 19</h3>
    <table class="table table-striped">
      <tr> <td>08:15</td>  <td>Set-up</td> </tr>
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>09:30</td>  <td>Break</td> </tr>
      <tr> <td>09:45</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>12:30</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
            <tr> <td>      </td>  <td>   </td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3 - Fri, May 20</h3>
    <table class="table table-striped"> 
      <tr> <td>08:15</td>  <td>Set-up</td> </tr>
      <tr> <td>08:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Plotting and Programming with Python</a></td> </tr>
      <tr> <td>09:30</td>  <td>Break</td> </tr>
      <tr> <td>09:45</td>  <td>Plotting and Programming with Python (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Plotting and Programming with Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>12:30</td>  <td>Plotting and Programming with Python (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:25</td>  <td> <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a> & END </td> </tr>
      <tr> <td>      </td>  <td>   </td> </tr>
  </table>
  </div>
</div>
